/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}

.button{
  background-color: mediumblue;
  justify-content: center;
  align-items: center;
}

.field{
  flex-direction: row ;
} */

.App {
  justify-content: center;
}

.chart{
  width: 720px;

}

.card{
  justify-content: center;
  flex-direction: column;
  display: grid;
  position:space-between;
}
